<div class="wrapper" xmlns="http://www.w3.org/1999/html">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <app-sidebar-setting></app-sidebar-setting>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
               size="medium"
               color="#ffffff"
               type="ball-clip-rotate-pulse"></ngx-spinner>
  <!--<div class="content-wrapper" style="min-height: 916px;">-->
  <div class="content-wrapper" style="padding-right: 30px; padding-left: 30px;">
    <section class="content-header" style="padding-left: 0px" >
      <!--  <h1>
          <small>New Request</small>
        </h1>-->

    </section>


    <section class="content" >
      <div class="box">
        <div class="box-body" style="text-align: center">
          <div class="row" style="margin-bottom: 19px;">
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered col-md-12">
                  <thead style="text-align: center">
                  <tr>
                    <th style="text-align: center">Milestone</th>
                    <th style="text-align: center">Alert</th>
                    <th style="text-align: center">User</th>
                  </tr>
                  </thead>
                  <tbody align="left">
                  <tr>
                    <td><span class="milestone">Project creation</span></td>
                    <td ><span><input type="radio" name="alert" class="alert-radio">Yes<input type="radio" class="alert-radio" name="alert">No</span></td>
                    <td  class="col-md-7">
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Superadmin</span></span>
                      <span class="switch_alert"><ui-switch size="small" class="switch_button" ></ui-switch><span>Supervisor</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Manager</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Agent</span></span>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="milestone">Milestone reached</span></td>
                    <td ><span><input type="radio" name="alert" class="alert-radio">Yes<input type="radio" class="alert-radio" name="alert">No</span></td>
                    <td  class="col-md-7">
                      <span class="switch_alert"><ui-switch size="small" class="switch_button" ></ui-switch><span>Superadmin</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Supervisor</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Manager</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Agent</span></span>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="milestone">Project confirmed</span></td>
                    <td ><span><input type="radio" name="alert" class="alert-radio">Yes<input type="radio" class="alert-radio" name="alert">No</span></td>
                    <td  class="col-md-7">
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Superadmin</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Supervisor</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Manager</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Agent</span></span>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="milestone">Project cancelled</span></td>
                    <td ><span><input type="radio" name="alert" class="alert-radio">Yes<input type="radio" class="alert-radio" name="alert">No</span></td>
                    <td  class="col-md-7">
                      <span class="switch_alert"><ui-switch size="small" class="switch_button" ></ui-switch><span>Superadmin</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Supervisor</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Manager</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Agent</span></span>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="milestone">Board decision</span></td>
                    <td ><span><input type="radio" name="alert" class="alert-radio">Yes<input type="radio" class="alert-radio" name="alert">No</span></td>
                    <td  class="col-md-7">
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Superadmin</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Supervisor</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Manager</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Agent</span></span>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="milestone">Project creation</span></td>
                    <td ><span><input type="radio" name="alert" class="alert-radio">Yes<input type="radio" class="alert-radio" name="alert">No</span></td>
                    <td  class="col-md-7">
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Superadmin</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Supervisor</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Manager</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Agent</span></span>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="milestone">Vendor feedback</span></td>
                    <td ><span><input type="radio" name="alert" class="alert-radio">Yes<input type="radio" class="alert-radio" name="alert">No</span></td>
                    <td  class="col-md-7">
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Superadmin</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Supervisor</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Manager</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Agent</span></span>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="milestone">Project overdue</span></td>
                    <td ><span><input type="radio" name="alert" class="alert-radio">Yes<input type="radio" class="alert-radio" name="alert">No</span></td>
                    <td  class="col-md-7">
                      <span class="switch_alert"><ui-switch size="small" class="switch_button" ></ui-switch><span>Superadmin</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Supervisor</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Manager</span></span>
                      <span class="switch_alert"><ui-switch size="small" class="switch_button" ></ui-switch><span>Agent</span></span>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="milestone">Task overdue</span></td>
                    <td class="starting"><span><input type="radio" name="alert" class="alert-radio">Yes<input type="radio" class="alert-radio" name="alert">No</span></td>
                    <td  class="col-md-7">
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Superadmin</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Supervisor</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Manager</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Agent</span></span>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="milestone">Task completed</span></td>
                    <td ><span ><input type="radio" name="alert" class="alert-radio">Yes<input type="radio" class="alert-radio" name="alert">No</span></td>
                    <td  class="col-md-7">
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Superadmin</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Supervisor</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Manager</span></span>
                      <span class="switch_alert"><ui-switch  size="small" class="switch_button" ></ui-switch><span>Agent</span></span>
                    </td>
                  </tr>
                  </tbody>
                  </table>
              </div>

            </div>
           </div>
      </div>
    </section>


  </div>
  <app-footer></app-footer>
</div>


