<div class="row">
  <div style="padding: 0px 15px">
    <div class="col-md-12  heading" ><span style="margin-left: 3%;"><b>Land Description</b></span></div>

    <div class="col-md-12 " style="margin:1% 0% 1% 3%; width:95%;">
      <div class="input-group input-group-sm " >
        <input  type="text"
                class="form-control"
                placeholder=""  style="height: 34px;">
        <div class="input-group-btn">
          <button class="btn  btn-default" style="height: 34px; ">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <!--<div class="col-md-8 col-sm-8">-->
    <!--<div class="col-md-12 col-sm-12 sub-heading">Land Description</div>-->
    <!--</div>-->
    <div class="col-md-12 col-sm-12 sub-heading " style="text-align: center;"><b>Boundaries:</b></div>
    <div class="col-md-12 col-sm-12">
      <div class="col-md-9 col-sm-9">
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label><b>North</b></label>
            <input type="text" class="form-control"  name="north" placeholder="Enter the Direction" >
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label><b>Length</b></label>
            <input type="text" class="form-control"  name="north_length" placeholder="Enter the Length" >
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label><b>South</b></label>
            <input type="text" class="form-control form-horizontal"  name="south" placeholder="Enter the Direction" >
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label><b>Length</b></label>
            <input type="text" class="form-control"  name="South_length" placeholder="Enter the Length" >
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label><b>East</b></label>
            <input type="text" class="form-control"  name="East" placeholder="Enter the Direction" >
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label><b>Length</b></label>
            <input type="text" class="form-control"  name="" placeholder="Enter the Length" style="margin-left:1%;">
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label><b>West</b></label>
            <input type="text" class="form-control"  name="" placeholder="Enter the Direction" style="margin-left:1%;">
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label>Length</label>
            <input type="text" class="form-control"  name="" placeholder="Enter the Length" style="margin-left:1%;">
          </div>
        </div>
      </div>

      <div class="col-md-3 col-md-3">
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label><b>No:SAQ</b></label>
            <textarea cols="17" rows="5" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label><b>No:Land</b></label>
            <textarea cols="17" rows="5" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 sub-heading">
      <span class="pull-left" style="margin-left: 8%"><b>Location map</b></span>
      <span class="pull-right" style="margin-right: 11%"><b>Offer Description</b></span>
      <span style="margin-left:31% ;"><b>Result of Appraisal</b></span>
    </div>
    <div class="col-md-3 pull-left" style="min-height: 280px;border: 1px solid  #BBBBBB;margin-left:4%;width:29%;">
      <input type="file" name="fileToUpload" class="form-control" id="fileToUpload" style=" margin-top: 2%;">
      <span style="margin-top:2%; ">Can attached more than one:</span><br/>
      <input type="submit" value="Upload Image" name="submit" style=" margin-top: 2%;">
    </div>
    <div class="col-md-8 col-sm-8 pull-right">
      <div class="col-md-3 col-sm-3 ">
        <div class="form-group">
          <label><b>Appraisal</b></label>
          <input type="text" class="form-control "  name="aprisal" placeholder="Enter the Appraisal" >
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="form-group">
          <label><b>Price/m2</b></label>
          <input type="text" class="form-control "  name="price/m2" placeholder="Enter the Price/m2" >
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="form-group">
          <label><b>Area</b></label>
          <input type="text" class="form-control "  name="" placeholder="Enter the Area">
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="form-group">
          <label><b>Price</b></label>
          <input type="text" class="form-control "  name="" placeholder="Enter the Price" >
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="form-group">
          <label><b>Average</b> </label>
          <input type="text" class="form-control "  name="" placeholder="Enter the Average">
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="form-group">
          <label><b>Ask Amount</b></label>
          <input type="text" class="form-control "  name="" placeholder="Enter Ask Amount" >
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="form-group">
          <label><b>Commission</b></label>
          <input type="text" class="form-control "  name="" placeholder="Enter Commission" >
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="form-group">
          <label><b>Price/m2</b></label>
          <input type="text" class="form-control "  name="" placeholder="Enter Price/m2" >
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 pull-right">
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label><b>Appraisal Average Amount</b></label>
          <input type="text" class="form-control "  name="" placeholder=" Appraisal Average amount" >
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label><b>Total of Price</b></label>
          <input type="text" class="form-control "  name="" placeholder="Enter Total of Price" >
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <label><b>Purpose of Purchase</b></label>
          <input type="text" class="form-control"  name="" placeholder="Enter Purpose of Purchase" >
        </div>
      </div>

    </div>
    <div class="col-md-12 " style="margin-left: 1%;">
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <label><b>Profitability of Current Branch</b></label>
          <input type="text" class="form-control "  name="" placeholder="Enter Profitability of Current Branch" >
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <label><b>Project Profitability</b> </label>
          <input type="text" class="form-control "  name="" placeholder="Enter Project Profitability" >
        </div>
      </div>
      <div class="col-md-4 col-sm-4" style="width:32%;">
        <div class="form-group">
          <label> <b>Retail Feasibility</b></label>
          <input type="text" class="form-control "  name="" placeholder="Enter Retail Feasibility " >
        </div>
      </div>
    </div>



  </div>
</div>