<div class="wrapper" xmlns="http://www.w3.org/1999/html">
  <app-header></app-header>
  <app-sidebar-setting></app-sidebar-setting>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
               size="medium"
               color="#ffffff"
               type="ball-clip-rotate-pulse"></ngx-spinner>
  <!--<div class="content-wrapper" style="min-height: 916px;">-->
  <div class="content-wrapper" style="padding-right: 30px; padding-left: 30px;">
    <section class="content-header" style="padding-left: 0px" >
      <!--  <h1>
          <small>New Request</small>
        </h1>-->

    </section>


    <section class="content" >
      <div class="box">
        <div class="box-body" style="text-align: center">
          <div class="row" style="margin-bottom: 19px;">
            <div class="col-md-4">
              <div class="vote col-md-4" >
                <div class="heading" >
                  <b>Site Selection</b>
                  </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="site_selction" style="margin:10px;">Unanimous <br>
                  </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="site_selction" style="margin:10px;">Anonymous <br>
                </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="site_selction" style="margin:10px;">Synonymous <br>
                </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="site_selction" style="margin:10px;">Proprietary <br>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="vote col-md-4" >
                <div class="heading" >
                  <b>Land purchase</b>
                </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="land_purchase" style="margin:10px;">Unanimous <br>
                </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="land_purchase" style="margin:10px;">Anonymous <br>
                </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="land_purchase" style="margin:10px;">Synonymous <br>
                </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="land_purchase" style="margin:10px;">Proprietary <br>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="vote col-md-4" >
                <div class="heading" >
                  <b>Feasibility Study and Design</b>
                </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="feasibility_study_design" style="margin:10px;">Unanimous <br>
                </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="feasibility_study_design" style="margin:10px;">Anonymous <br>
                </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="feasibility_study_design" style="margin:10px;">Synonymous <br>
                </div>
                <div class="input" style="margin:10px;">
                  <input type="radio" name="feasibility_study_design" style="margin:10px;">Proprietary <br>
                </div>
              </div>
            </div>




          </div>

        </div>
      </div>
    </section>


  </div>
  <app-footer></app-footer>
</div>


