<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
    </div>

    <ul class="sidebar-menu" data-widget="tree" >

      <li routerLinkActive="active">
        <a routerLink="/vote"> <span class="logo-mini"><img src="/assets/img/setting-icon/vote.png" alt="" ></span><span class="nav-label">Vote</span> </a>
      </li>

      <!--<li *ngIf="auth_user['role']=='userA'" routerLinkActive="active">-->
      <li routerLinkActive="active">
        <a routerLink="/vendor-management"><span class="logo-mini"><img src="/assets/img/setting-icon/vendor-management.png" alt=""></span> <span class="nav-label">Vendor Management</span> </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/user-management"><span class="logo-mini"><img src="/assets/img/setting-icon/user-management.png" alt=""></span> <span class="nav-label">User Management</span> </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/alerts-and-notifications"><span class="logo-mini"><img src="/assets/img/setting-icon/alerts-notifications.png" alt=""></span> <span class="nav-label">Alerts and Notifications</span> </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/sms-gateway"><span class="logo-mini"><img src="/assets/img/setting-icon/sms-gateway.png" alt=""></span> <span class="nav-label">SMS Gateway</span> </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/api"><span class="logo-mini"><img src="/assets/img/setting-icon/api.png" alt=""></span> <span class="nav-label">API</span> </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/Project"><span class="logo-mini"><img src="/assets/img/setting-icon/project.png" alt=""></span><span class="nav-label">Project</span> </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/deadline"><span class="logo-mini"><img src="/assets/img/setting-icon/deadlines.png" alt=""></span> <span class="nav-label">Deadlines</span> </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/setting-task"><span class="logo-mini"><img src="/assets/img/setting-icon/task.png" alt=""></span> <span class="nav-label">Tasks</span> </a>
      </li>
    </ul>
  </section>
</aside>