<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
               size="medium"
               color="#ffffff"
               type="ball-clip-rotate-pulse"></ngx-spinner>
  <!--<div class="content-wrapper" style="min-height: 916px;">-->
  <div class="content-wrapper" style="padding-right: 15px; padding-left: 15px;">
    <section class="content-header">
      <h1>
        User Credential
        <small>
          Change Password
        </small>
      </h1>
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">
                  <a class="" style="margin-left: 15px;">
                  </a>
                </h3>
              </div>
              <!-- /.box-header -->
              <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
                <div class="box-body">
                  <div class="col-xs-3">
                  </div>
                  <div class="col-xs-6">
                    <div *ngIf="passwordMismatch === true" class="alert alert-warning alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      <h4><i class="icon fa fa-warning"></i> Alert Password Mismatch!</h4>
                      Please enter new and confirm password same!
                    </div>
                    <div *ngIf="currentPasswordMismatch === true" class="alert alert-warning alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      <h4><i class="icon fa fa-warning"></i> Alert Current Password Mismatch!</h4>
                      Your current password does not matches with the password you provided. Please try again.
                    </div>
                    <div *ngIf="newPasswordSame === true" class="alert alert-warning alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                      New password cannot be same as your current password. Please choose a different password.
                    </div>
                    <div class="form-group">
                      <label for="current_password">Current Password</label>
                      <input type="password" formControlName="current_password" class="form-control" id="current_password" placeholder="Enter Current Password">
                      <div *ngIf="submitted && updatePasswordForm.controls['current_password'].errors">
                        <span [hidden]="!updatePasswordForm.controls['current_password'].errors.required" class="help-block" style="color: red !important;">
                            Current password is missing.
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="new_password">New Password</label>
                      <input type="password" formControlName="new_password" class="form-control" id="new_password" placeholder="Enter New Password" [ngClass]="{ 'is-invalid': submitted && updatePasswordForm.controls['new_password'].errors }">
                      <div *ngIf="submitted && updatePasswordForm.controls['new_password'].errors">
                        <span *ngIf="updatePasswordForm.controls['new_password'].errors.required" class="help-block" style="color: red !important;">
                            New password is missing.
                        </span>
                        <span *ngIf="updatePasswordForm.controls['new_password'].errors.minlength" class="help-block" style="color: red !important;">
                            Password must be at least 8 characters
                        </span>
                      </div>
                      <!--<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>-->
                    </div>

                    <div class="form-group">
                      <label for="confirm_password">Confirm Password</label>
                      <input type="password" formControlName="confirm_password" class="form-control" id="confirm_password" placeholder="Enter Confirm Password">
                      <div *ngIf="submitted && updatePasswordForm.controls['confirm_password'].errors">
                        <span *ngIf="updatePasswordForm.controls['confirm_password'].errors.required" class="help-block" style="color: red !important;">
                            Confirm password is missing.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3">

                  </div>
                </div>

                <div class="box-footer">
                  <div  class="pull-right p-t-10">
                    <a class="pull-right"><button type="submit" class="btn btn-success next-button" style="padding: 5px 15px;margin-top: -9px" >Update</button></a>
                  </div>
                  <div  class="pull-right p-t-10" style=" padding-right: 5px">
                    <a class="pull-right"><button type="button" class="btn btn-danger next-button" style="padding: 5px 15px;margin-top: -9px" (click)="goBack()">Cancel</button></a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <app-footer></app-footer>
</div>
