<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
               size="medium"
               color="#ffffff"
               type="ball-clip-rotate-pulse"></ngx-spinner>
  <!--<div class="content-wrapper" style="min-height: 916px;">-->
  <div class="content-wrapper" style="padding-right: 15px; padding-left: 15px;">
    <section class="content-header">
      <section class="content">
        <div class="row">

          <div class="col-md-12 no-padding">

            <div class="col-md-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <strong>Tickets past due</strong>
                </div>
                <div class="panel-body">

                  <div class="col-md-4 no-padding">
                    <span class="pull-left" style="margin-top: 12px; color: #F44A5E;">
                      <!--<i class="fa fa-2x fa-exclamation"></i>-->
                      <i class="fa fa-3x fa-ticket"></i>
                    </span>
                  </div>
                  <div class="col-md-8 no-padding" style="color: #F44A5E;"><h1 class="pull-right">3</h1></div>

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <strong>New tickets today</strong>
                </div>
                <div class="panel-body">
                  <div class="col-md-4 no-padding">
                    <span class="pull-left" style="margin-top: 12px; color: #D8384F;">
                      <!--<i class="fa fa-2x fa-plus"></i>-->
                      <i class="fa fa-3x fa-ticket"></i>
                    </span>
                  </div>
                  <div class="col-md-8 no-padding"><h1 class="pull-right">312</h1></div>

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <strong>Tickets closed today</strong>
                </div>
                <div class="panel-body">

                  <div class="col-md-4 no-padding">
                    <span class="pull-left" style="margin-top: 12px; color: #00D138;">
                        <!--<i class="fa fa-2x fa-check"></i>-->
                        <i class="fa fa-3x fa-ticket"></i>
                    </span>
                  </div>
                  <div class="col-md-8 no-padding"><h1 class="pull-right">304</h1></div>

                </div>
              </div>
            </div>

          </div>

          <div class="col-md-12 no-padding">

            <div class="col-md-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <strong>Tickets due times</strong>
                </div>
                <div class="panel-body sidebar">

                  <ul class="list-group flex-column d-inline-block menu">
                    <li class="list-group-item py-2">
                      Overdue
                      <span class="badge badge-danger badge-pill">2</span>
                    </li>
                    <li class="list-group-item py-2">
                      Today
                      <span class="badge badge-warning badge-pill">2</span>
                    </li>
                    <li class="list-group-item py-2">
                      Tomorrow
                      <span class="badge badge-default badge-pill">1</span>
                    </li>

                    <li class="list-group-item py-2">
                      This week
                      <span class="badge badge-default badge-pill">1</span>
                    </li>

                    <li class="list-group-item py-2">
                      Next week
                      <span class="badge badge-default badge-pill">1</span>
                    </li>

                    <li class="list-group-item py-2">
                      Later
                      <span class="badge badge-default badge-pill">1</span>
                    </li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <strong>By region</strong>
                </div>
                <div class="panel-body">

                  <div class="col-md-12" style="padding: 10px; padding-bottom: 0px; padding-left: 10px;">
                    <div class="col-md-4">
                      <div class="col-md-12 numberCircle" style="background-color: #127DFD;"><strong>19</strong></div>
                      <div class="col-md-12">Central</div>
                    </div>

                    <div class="col-md-4">
                      <div class="col-md-4 numberCircle" style="background-color: #F74A62;"><strong>1</strong></div>
                      <div class="col-md-12">Western</div>
                    </div>

                    <div class="col-md-4">
                      <div class="col-md-4 numberCircle" style="background-color: #CCBA1F;"><strong>0</strong></div>
                      <div class="col-md-12">Eastern</div>
                    </div>
                  </div>

                  <div class="col-md-12" style="padding: 10px; padding-bottom: 0px; padding-left: 10px;">
                    <div class="col-md-4">
                      <div class="col-md-12 numberCircle" style="background-color: #047FFB;"><strong>19</strong></div>
                      <div class="col-md-12">Southern</div>
                    </div>

                    <div class="col-md-4">
                      <div class="col-md-4 numberCircle" style="background-color: #94D2F6;"><strong>1</strong></div>
                      <div class="col-md-12">Northern</div>
                    </div>

                    <div class="col-md-4">
                      <div class="col-md-4 numberCircle" style="background-color: #0033C4;"><strong>0</strong></div>
                      <div class="col-md-12">Total</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <strong>By dept</strong>
                </div>
                <div class="panel-body">
                  <div [chart]="pieChart" style="height: 230px;"></div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-12" style="padding: 10px;">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <strong>Total tickets vs closed tickets</strong>
              </div>
              <div class="panel-body">
                <div class="col-md-9">
                  <div style="height: 250px;" [chart]="columnChart"></div>
                </div>

                <div class="col-md-3 no-padding">
                  <div class="form-group">
                    <select class="form-control" id="sel1">
                      <option>last 30 Days</option>
                      <option>Last 3 Months</option>
                      <option>Last 6 Months</option>
                      <option>Last year</option>
                    </select>
                  </div>

                  <div class="col-md-12 no-padding">
                    <div class="col-md-12 no-padding light-color">
                      4073
                    </div>
                    <div class="col-md-12 no-padding">
                      <span class="pull-left light-color">Total tickets</span>
                      <span class="pull-right light-color">100%</span>
                    </div>
                    <div class="col-md-12 progress no-padding" style="height: 15px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100"
                           aria-valuemin="0" aria-valuemax="100" style="height: 15px; width:100%">
                        <span class="sr-only">100% Complete</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 no-padding">
                    <div class="col-md-12 no-padding light-color">
                      4041
                    </div>
                    <div class="col-md-12 no-padding">
                      <span class="pull-left light-color">Closed tickets</span>
                      <span class="pull-right light-color">98%</span>
                    </div>
                    <div class="col-md-12 progress no-padding" style="height: 15px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="98"
                           aria-valuemin="0" aria-valuemax="98" style="height: 15px; width:98%">
                        <span class="sr-only">98% Complete</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </section>
  </div>
  <app-footer></app-footer>
</div>