<div class="wrapper" xmlns="http://www.w3.org/1999/html">
  <app-header></app-header>
  <app-sidebar-setting></app-sidebar-setting>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
               size="medium"
               color="#ffffff"
               type="ball-clip-rotate-pulse"></ngx-spinner>
  <!--<div class="content-wrapper" style="min-height: 916px;">-->
  <div class="content-wrapper" style="padding-right: 30px; padding-left: 30px;">
    <section class="content-header" style="padding-left: 0px" >
      <!--  <h1>
          <small>New Request</small>
        </h1>-->

    </section>


    <section class="content" >
      <div class="box">
        <div class="box-body" style="text-align: center">
          <div class="row" style="margin-bottom: 19px;">
            <div class="col-md-5 col-md-offset-3 h4">
              Setting Task
              </div>
            <div class="col-md-12 table-responsive">

              <table class="table table-bordered col-md-12" style="bordered:1px solide;">
                <thead style="text-align: center">
                <tr>
                  <th style="text-align: center">Task Name</th>
                  <th style="text-align: center">Task Duration</th>
                  <th style="text-align: center">Priority</th>
                </tr>
                </thead>
                <tbody align="left">
                <tr>
                  <td>RPF Property Search
                    <span class="pull-right">
                    <ui-switch size="small" class="pull-right"></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                  </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select  class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                <tr>
                  <td>RPF  Property Vlaution<span class="pull-right">
                    <ui-switch  size="small" class="pull-right" ></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Site Selection<span class="pull-right">
                    <ui-switch    size="small" class="pull-right" ></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                <tr>
                  <td>Price Report<span class="pull-right">
                    <ui-switch size="small" class="pull-right" ></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Land Purchase Form<span class="pull-right">
                    <ui-switch size="small" class="pull-right" ></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Board Approval<span class="pull-right"><ui-switch  size="small" class="pull-right" ></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Project Evaluation<span class="pull-right"><ui-switch  size="small" class="pull-right" ></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Feasibility Study and Design<span class="pull-right"><ui-switch  size="small" class="pull-right" ></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Land Purchase<span class="pull-right"><ui-switch size="small" class="pull-right" class="pull-right"></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>RPF issuance<span class="pull-right"><ui-switch size="small" class="pull-right" class="pull-right"></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Handover Process<span class="pull-right"><ui-switch  size="small" class="pull-right"></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Asset Registry<span class="pull-right">
                    <ui-switch  size="small"  class="pull-right"></ui-switch>
                    <i class="fa fa-2x fa-edit iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey"></i>
                    <i class="fa fa-2x fa-remove iconSize clickable p-0-9-n m-l-5" title="View" style="color: grey;"></i>
                    </span>
                  </td>
                  <td><span>From<input class="form-control" type="date" class="date" name="starting_date"></span> <span class="to">To<input type="date" class="form-control" class="date" name="starting_date" style="margin-left: 10px;"></span></td>
                  <td>
                    <select class="form-control">
                      <option value="">Select Priority</option>
                      <option value="low">Low</option>
                      <option value="high">High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td> <div class="input-group input-group-sm " >
                    <input  type="text"
                            class="form-control"
                            placeholder=""  style="height: 34px ">
                    <div class="input-group-btn">
                      <button class="btn  btn-default" style="height: 34px;">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div><br/>
                    <b>Press + to add another task</b>
                  </td>

                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </section>


  </div>
  <app-footer></app-footer>
</div>


